ModProject/ModCode/ModLib/.vs/*
ModProject/ModCode/ModLib/bin/*
ModProject/ModCode/ModLib/obj/*
ModProject/ModCode/ModMain/.vs/*
ModProject/ModCode/ModMain/bin/*
ModProject/ModCode/ModMain/obj/*
*.dll
*.pdb